body {
    font-family: "Roboto", sans-serif;
}
.logo{
  width: 140px;
}
.hero-1{
  background-image: url('../images/hero/banner-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}